@use 'src/styles/mixin/text';
@use 'src/styles/variables/color';

.menuFooter {
    display: flex;
    margin-top: 40px;

    &_link {
        @include text.text-small;
        text-align: center;
        color: color.$text-footer;
        text-decoration: none;
        margin-right: 30px;

        @media screen and (max-width: 576px) {
            margin-right: 10px;
        }
    }

    &_text {
        @include text.text-small;
    }

    &_subLinkContainer {
        margin: 0;
        padding-left: 20px;

        &__link {
            margin-top: 6px;
            cursor: pointer;

            a {
                @include text.text-small;
                text-align: center;
                color: color.$text-footer;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 576px) {
        margin-top: 25px;
    }
}
