@use 'src/styles/mixin/text';
@use 'src/styles/variables/color';

form {
    .flexBlock {
        display: flex;
        justify-content: space-between;

        .inputWidth {
            width: calc((50%) - 15px);
        }
    }
}

.wrapperSubmit {
    display: flex;
    margin-top: 35px;

    .text {
        @include text.text-extra-small;
        margin: 0 50px 0 0;
        color: color.$general;

        a {
            @include text.text-extra-small;
            color: color.$general;
        }
    }

    .btn,
    .disabled {
        @include text.text-btn-form;
        height: auto;
        display: block;
        padding: 18px 62px;
        background: color.$background-btn-form;
        border-radius: 12px;
        color: color.$text-btn;
        border: none;
        cursor: pointer;
    }
    .disabled {
        background: color.$background-btn-form-disabled;
        cursor: auto;
    }
}

.label {
    display: flex;
    flex-direction: column;

    .descrTextValid {
        @include text.text-extra-small;
        color: color.$is-valid-color;
        height: 13px;
    }

    .input,
    .valid {
        @include text.text-input;
        background: color.$background-input;
        border-radius: 10px;
        padding: 18px 20px;
        outline: none;
        border: none;
        color: color.$general;
        width: 100%;
    }

    .valid {
        border: 1px solid color.$is-valid-color;

        &::placeholder {
            color: color.$is-valid-color;
        }
    }
}
