@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

.infoBlock {
    display: block;
}

.headerFilter {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 25px;
}

.courseInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    .filterCourses {
        width: calc(100% - 920px);
        padding: 0 50px;

        @media screen and (max-width: 1400px) {
            width: 100%;
            padding: 0 30px;
        }

        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }

    .coursesContent {
        width: 920px;

        .listCategory {
            padding: 0;
            overflow: hidden;

            .category {
                list-style: none;

                .header {
                    @include text.text-header;
                    color: color.$general;
                }
            }
        }

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 1400px) {
        padding: 0 15px;
    }

    @media screen and (max-width: 992px) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        padding: 0;
    }
}
