.infoBlock {
    display: block;
}

.headerFilter {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 25px;
}

.courseInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    .filterCourses {
        width: calc(100% - 920px);
        padding: 0 50px;
    }

    .coursesContent {
        width: 920px;

        .listCategory {
            padding: 0;

            .category {
                list-style: none;

                .header {
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 40px;
                    color: #000000;
                }

                .courseList {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 20px;
                    padding: 0;

                    .course {
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
