@use 'src/styles/mixin/text';
@use 'src/styles/variables/color';

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input,
.valid {
    @include text.text-input;
    margin-top: 21px;
    background: color.$background-input;
    border-radius: 10px;
    padding: 18px 20px;
    width: 100%;
    outline: none;
    border: none;
    color: color.$general;
}

.valid {
    border: 1px solid color.$is-valid-color;
    &::placeholder {
        color: color.$is-valid-color;
    }
}
