@use 'src/styles/variables/color';

.wrapper {
    width: 340px;
    display: flex;
    justify-content: space-between;
    background: color.$background-card;
    border: 1px solid color.$color-border;
    border-radius: 10px;
    padding: 21px;

    @media screen and (max-width: 1400px) {
        width: 48%;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.wrapperImage {
    position: relative;
    width: 68px;
    height: 70px;
}

.description {
    width: calc(100% - (68px + 18px));
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: color.$general;
}
