@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

.infoBlock {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    min-height: 251px;

    @media screen and (max-width: 1400px) {
        min-height: 219px;
    }
}

.headerBlock {
    padding: 25px 10px 25px 70px;
    width: calc(100% - 651px);

    @media screen and (max-width: 1400px) {
        width: calc(100% - 450px);
        padding: 25px 10px 25px 35px;
    }

    @media screen and (max-width: 992px) {
        width: 100%;
    }
}

.header {
    color: #ffffff;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    margin: 0;
}

.wrapperBtn {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    .btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        background-color: transparent;
        padding: 10px 20px;
        border: 1px solid #ffffff;
        border-radius: 30px;
        color: #ffffff;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            animation: hover 400ms forwards;
        }
    }

    .active {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 20px;
        border: 1px solid #ffffff;
        border-radius: 30px;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer;
        background-color: white;
        color: #000000;
    }

    @media screen and (max-width: 992px) {
        .btn {
            padding: 8px 12px;
        }
    }
}

.wrapperImage {
    position: relative;
    width: 651px;

    img {
        object-fit: cover;
    }

    @media screen and (max-width: 1400px) {
        width: 450px;
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

@keyframes hover {
    0% {
        background-color: white;
        color: #000000;
        transform: scale(1, 1);
    }
    100% {
        background-color: white;
        color: #000000;
        transform: scale(1.03, 1.07);
    }
}
