.button {
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    outline: none;
}
