@use 'src/styles/variables/color';

.button {
    border: 1px solid color.$general;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    outline: none;
}
