@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

.header {
    margin-top: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    color: color.$general;

    &_ContainerLeft {
        width: 56%;

        &__Header {
            margin-top: 0;
            @include text.text-big;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }

        &__SubHeader {
            @include text.text-general;
            font-style: normal;
            font-weight: 400;
        }

        &__Btn {
            margin-top: 25px;
        }

        &__form {
            width: 90%;
        }
    }

    &_containerRight {
        width: 44%;
    }

    @media screen and (max-width: 1400px) {
        flex-direction: column-reverse;

        &_ContainerLeft {
            width: 100%;
            margin-top: 25px;

            &__Header {
                margin: 20px 0;
            }
            &__form {
                width: 100%;
            }
        }

        &_containerRight {
            width: 100%;
        }
    }
    @media screen and (max-width: 576px) {
        &_ContainerLeft {
            margin-top: 10px;
        }
    }
}

.imgLong {
    display: block;

    @media screen and (max-width: 1400px) {
        display: none;
    }
}

.imageShort {
    display: none;

    @media screen and (max-width: 1400px) {
        display: block;
    }
}

.directions {
    margin-top: 60px;

    .wrapperCardDirection {
        display: flex;
        justify-content: space-between;

        .btnMedicine {
            background: #3e3cff;
        }

        .btnPsychology {
            background: #ba4df9;
        }

        .btnDietetics {
            background: #ff5f3c;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.partners {
    margin-top: 30px;
}

.resources {
    margin-bottom: 85px;

    @media screen and (max-width: 1400px) {
        margin-bottom: 45px;
    }
    @media screen and (max-width: 992px) {
        margin-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 25px;
    }
    @media screen and (max-width: 576px) {
        margin-bottom: 0;
    }
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    @media screen and (max-width: 1400px) {
        margin: 0 auto;
    }
}

.slider {
    background-color: #9e9e9e;
}
