.page {
    min-height: calc(100vh - 174px - 350px);

    @media screen and (max-width: 992px) {
        min-height: calc(100vh - 127px - 350px);
    }

    @media screen and (max-width: 768px) {
        min-height: calc(100vh - 174px - 350px);
    }
}
