@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

.logo {
    display: flex;
    justify-content: space-between;
    width: 200px;
    text-decoration: none;

    &_image {
        position: relative;
        width: 58px;
        height: 58px;
    }
    &_text {
        @include text.text-extra-small;
        width: 123px;
        text-transform: uppercase;
        color: color.$general;

        @media screen and (max-width: 1400px) {
            width: 90px;
        }
    }

    @media screen and (max-width: 1400px) {
        width: 160px;
    }

    @media screen and (max-width: 992px) {
        align-items: center;
        width: 150px;

        &_image {
            width: 42px;
            height: 42px;
            margin-right: 5px;
        }
        &_text {
            width: 90px;
            margin: 0;
        }
    }
}
