@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

.logo {
    display: flex;
    justify-content: space-between;
    width: 200px;
    &_image {
        position: relative;
        width: 58px;
        height: 58px;
    }
    &_text {
        @include text.text-extra-small;
        width: 123px;
        text-transform: uppercase;
        color: color.$general;
    }
}
