.header {
    @media screen and (max-width: 992px) {
        z-index: 100;
        width: 100vw;
        position: fixed;
    }
}

.local {
    display: none;
    background-color: black;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.wrapper {
    background-color: white;
}

.nawBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    min-height: 125px;

    @media screen and (max-width: 992px) {
        min-height: 90px;
        padding: 0 0;
    }
}

.contentWrapperLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    @media screen and (max-width: 1400px) {
        width: 42%;
    }
    @media screen and (max-width: 992px) {
        width: 60%;
    }
    @media screen and (max-width: 768px) {
    }
}

.media {
    @media screen and (max-width: 768px) {
        display: none;
    }
}
