$text-footer: #ffffff;
$background-footer: #242424;

$background-card: #ffffff;
$color-border: #000000;

$background-input: #f7f7f5;
$is-valid-color: #ff0000ff;

$general: #000000;
$link-card: #ffffff;

$active-header: #000000;
$link-header: #9e9e9e;

$background-btn-form: #3d3bff;
$background-btn-form-disabled: #3d3bff49;
$text-btn: #ffffff;
