@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

.medicine {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 20px;
    height: 250px;
    overflow: hidden;

    @media screen and (max-width: 1400px) {
        height: 219px;
    }

    @media screen and (max-width: 992px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 576px) {
        height: 190px;
    }
}

.header {
    color: #ffffff;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    margin: 0;
}

.contentWrapper {
    padding: 20px 70px;

    @media screen and (max-width: 1400px) {
        padding: 20px 35px;
    }

    @media screen and (max-width: 992px) {
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 576px) {
    }
}

.imageWrapper {
    position: relative;
    width: 651px;

    img {
        object-fit: contain;
    }

    @media screen and (max-width: 1400px) {
        width: 571px;
    }

    @media screen and (max-width: 992px) {
        display: none;
        //width: 50%;
        //img {
        //	object-fit: cover;
        //}
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 576px) {
        display: none;
    }
}

.btn {
    background-color: transparent;
    margin-top: 50px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 18px 25px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;

    @media screen and (max-width: 1400px) {
        margin-top: 30px;
        padding: 12px 25px;
    }

    @media screen and (max-width: 992px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 576px) {
    }
}
