@use 'src/styles/mixin/text';
@use 'src/styles/variables/color';

.footer {
    background: color.$background-footer;
    color: color.$text-footer;
    padding: 41px 0;
    min-height: 336px;
}

.logo {
    p {
        color: color.$text-footer;
    }
}

.text {
    @include text.text-small;
}

.containerFooter {
    width: 951px;
    margin: 0 auto;
}

.wrapFooterTop {
    display: flex;
    justify-content: space-between;
}

.wrapperContacts {
    width: 394px;
    display: flex;
    justify-content: space-between;
}

.linkPhone {
    @include text.text-phone;
    color: color.$text-footer;
    text-decoration: none;
}

.header {
    @include text.text-extra-small;
}

.wrapperSocialNetwork {
    .wrapperImageGroup {
        display: flex;
        .wrapperImage {
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }
    }
}

.wrapperInfoContent {
    width: 371px;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}

.menuContainer {
    width: 394px;
}

.wrapperPolitics {
    margin-top: 80px;
    display: flex;
    p {
        margin-right: 30px;
        @include text.text-politics;
    }
}
