@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
    }
}

.link,
.linkActive {
    @include text.text-small;
    text-align: center;
    color: color.$general;
    text-decoration: none;
    margin-right: 47px;

    &:hover {
        color: color.$active-header;
    }

    @media screen and (max-width: 1400px) {
        margin-right: 20px;
    }
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.linkActive {
    color: color.$active-header;
    font-weight: bold;
}

.media {
    @media screen and (max-width: 768px) {
        display: none;
    }
}
