@use 'src/styles/mixin/text';
@use 'src/styles/variables/color';

.wrapper,
.wrapperFlex {
    background-color: color.$background-card;
    border: 1px solid color.$color-border;
    border-radius: 10px;
    margin-top: 40px;
    padding: 26px 117px 54px 66px;

    @media screen and (max-width: 992px) {
        padding: 27px 99px;
    }
    @media screen and (max-width: 768px) {
        padding: 20px;
    }
}

.nawBlock {
    @include text.text-header;
    margin: 0;
    color: color.$general;
}

.wrapperFlex {
    display: flex;
    padding: 54px 64px;

    .nawBlock {
        margin-top: 15px;
    }

    @media screen and (max-width: 992px) {
        flex-direction: column;
        padding: 27px 99px;
    }
    @media screen and (max-width: 768px) {
        padding: 20px;
    }
}

.wrapperContent {
    min-width: 50%;
}

.descriptionForm {
    @include text.text-description-form;
    color: color.$general;
    width: 410px;

    @media screen and (max-width: 992px) {
        width: 100%;
    }
}
