@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

h1,
h2,
h3,
p,
button,
div,
ul,
li {
    user-select: none;
}
.container {
    width: 1396px;
    margin: 0 auto;
}

.header {
    @include text.text-header;
    margin-top: 30px;
    user-select: none;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 996px;
    }
}

.close {
    display: none;
}
