@use 'src/styles/variables/color';
@use 'src/styles/mixin/text';

h1,
h2,
h3,
p,
button,
div,
ul,
li {
    user-select: none;
}

.close {
    display: none !important;
}

.nawBlock {
    @include text.text-header;
    margin-top: 30px;
    user-select: none;
}

.container {
    width: 1396px;
    margin: 0 auto;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 960px;
    }

    .nawBlock {
        margin-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .nawBlock {
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 520px;
    }

    .nawBlock {
        margin-top: 10px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: auto;
        padding: 0 20px !important;
    }
}
