.search {
    position: relative;
    margin-top: 20px;

    .searchImageWrapper {
        position: absolute;
        bottom: -3px;
        left: 10px;
    }

    .searchInput {
        outline: none;
        font-size: 14px;
        width: 100%;
        background: #edecea;
        border-radius: 10px;
        border: none;
        padding: 15px 30px;
    }
}
