.wrapperSlider {
    width: 100%;
    margin-top: 30px;
}

.slider {
    overflow: hidden;
    display: flex;
}

.sliderItem {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }
}
