.wrapperSlider {
    width: 100%;
    margin-top: 30px;
}

.slider {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperNavigation {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 400px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.btnSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
